/* Posts */
body {
    padding: 2%
}

p {
    text-align: justify;
}

.carousel-item {
    height: 600px;
    /* background: rgb(241, 241, 241); */
    /* color: black; */
    /* box-shadow: 0 0 8px 8px rgb(255, 255, 255) inset; */
    overflow: scroll;
  }
  
  .LIME-tweet {
    height: 400px;
    width: 600px;
  }

  .lead {
    border: 1px solid;
    padding: 5px 5px;
    border-radius: 4px;

    /*DELETED*/
    /*height: auto*/
    /*text-align: center;*/

    /*ADDED*/
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

  .footer {
    text-align: center;
  }

  /*Default CSS layout for narrow screens*/

@media (max-width: 650px) {
    /*CSS for medium width screens*/
    .main-div {
      padding: 5% 5%;
      font-size: 80%;
      /* text-align: center; */
    }
    .home {
      font-size: 120%;
    }
    .index {
      font-size: 80%;
      margin-top: 1%;
      margin-right: 2%;
      word-wrap: break-word;
      /* text-align: justify; */
    }

    .LIME-tweet {
        height: 300px;
        width: 300px;
      }

  }
  
  @media (max-width: 1100px) and (min-width: 650px) {
    /*CSS for wide screens*/
    .main-div {
      padding: 5% 10%;
      font-size: 90%;
    }
    .testimonial-image{
      height: 275px;
      width: 200px;
    }
    .index {
      font-size: 90%;
      margin-right: 2%;
      word-wrap: initial;
    }    
    .LIME-tweet {
        height: 300px;
        width: 600px;
      }
  }